@using FitDontQuit.Data.Models.Enums
@model FitDontQuit.Web.ViewModels.Classes.CreateClassModel
@{
    this.ViewData["Title"] = "Create class";

    var hours = Enum.GetValues(typeof(Hour));
}
<section class="admin-section">
    <h1>Create</h1>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="StartHour"></label>
            <select asp-for="StartHour" class="form-control">
                @foreach (int hour in hours)
                {
                    <option value="@hour">@hour : 00</option>
                }
            </select>
            <span asp-validation-for="StartHour" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="EndHour"></label>
            <select asp-for="EndHour" class="form-control">
                @foreach (int hour in hours)
                {
                    <option value="@hour">@hour : 00</option>
                }
            </select>
            <span asp-validation-for="EndHour" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="DayOfWeek"></label>
            <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()" class="form-control"></select>
            <span asp-validation-for="DayOfWeek" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Capacity"></label>
            <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="GroupTrainingId"></label>
            <select asp-for="GroupTrainingId" asp-items="@(new SelectList(Model.GroupTrainings.ToList(), "Id", "Name"))" class="form-control"></select>
            <span asp-validation-for="GroupTrainingId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TrainerId"></label>
            <select asp-for="TrainerId" asp-items="@(new SelectList(Model.Trainers.ToList(), "Id", "Name"))" class="form-control"></select>
            <span asp-validation-for="TrainerId" class="text-danger"></span>
        </div>
        <hr />
        <input type="submit" class="btn btn-primary" />
    </form>
</section>