@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="user-section">
    <h3 class="user">Manage your account</h3>
    <h5 class="user">Change your account settings</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">

            @RenderBody()
        </div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
