@using static FitDontQuit.Common.EnumHelper
@model FitDontQuit.Web.ViewModels.Administration.Memberships.MembershipInputModel
@{
    ViewData["Title"] = "Create";
    var durations = Model.Durations.ToList().Select(x => new SelectListItem(x.GetDisplayName(), x.ToString()));
}

<h1>CreateMembershipViewModel</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Duration"></label>
        <select asp-for="Duration" asp-items="durations" class="form-control"></select>
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>