@model FitDontQuit.Web.ViewModels.Trainers.EditTrainerModel
@{
    this.ViewData["Title"] = "Eidt trainer";
     var professions = Model.Professions.ToList().Select(x => new SelectListItem(x.Id.ToString(), x.Name));
}

<section class="section">
    <h1>Edit</h1>

    @*<div class="row mb-5">
        <div class="col-md-6">*@
    <form method="post" asp-action="Edit" enctype="multipart/form-data">       
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12 order-md-1">
                <div class="input-group mb-4">
                    <img src="@Model.ImageUrl" />
                    <input type="file" name="Image" asp-for="Image" />
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First name | Last name | Age</span>
                    </div>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <input asp-for="Description" class="form-control" maxlength="100" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone number</span>
                    </div>
                    <input asp-for="PhoneNumber" class="form-control" maxlength="13" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Instagram link</span>
                    </div>
                    <input asp-for="InstagramUrl" class="form-control" />
                    <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ProfessionId"></label>
                    <select asp-for="ProfessionId" asp-items="@(new SelectList(Model.Professions.ToList(), "Id", "Name"))" class="form-control"></select>
                    <span asp-validation-for="ProfessionId" class="text-danger"></span>
                </div>
                <hr />
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>