@model FitDontQuit.Web.ViewModels.Articles.DeleteArticleModel
@{
    this.ViewData["Title"] = "Delete article";
}

<section class="admin-section">
    <form asp-action="Delete" method="post">
        <p>Are you sure you want to delete @Model.Title article?</p>
        <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()" />
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</section>