@model FitDontQuit.Web.ViewModels.Articles.DeleteArticleModel
@{
    this.ViewData["Title"] = "Delete article";
}

<section class="section">
    <form asp-action="Delete" method="post">
        <h3>Are you sure you want to delete @Model.Title article?</h3>
        <input type="button" class="btn btn-secondary p-2" value="Back" onclick="history.back()" />
        <input type="submit" class="btn btn-danger p-2" value="Delete" />
    </form>
</section>