@model FitDontQuit.Web.ViewModels.Articles.EditArticleModel
@{
    this.ViewData["Title"] = "Edit article";
}

<section class="section">
    <h1>Edit</h1>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12 order-md-1">
                <div class="input-group mb-4">
                    <img src="@Model.ImageUrl" />
                    <input type="file" name="Image" asp-for="Image" class="form-control" />
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><label asp-for="Title"></label></span>
                    </div>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><label asp-for="Content"></label></span>
                    </div>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <hr />
                <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()" />
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>