@using FitDontQuit.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!--From template-->
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <!--Icon links-->
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--END-->

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <!--CSS from template-->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/magnific-popup.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/slicknav.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <!--END-->
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <!--CSS from template-->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/magnific-popup.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/slicknav.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <!--END-->
    </environment>
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header-section bg-dark">
        <div class="container">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/android-icon-48x48.png" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="./classes.html">Classes</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./gallery.html">Gallery</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </nav>
            </div>
            <div class="partial-login">
                <nav class="mainmenu">
                    <partial name="_LoginPartial" />
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <div class="container" style="padding-top:100px">
        <partial name="_CookieConsentPartial" />
            @this.RenderBody()
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>(123) 118 9999 - (123) 118 9999</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>72 Kangnam, 45 Opal Point Suite 391</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>contactcompany@Gutim.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg" data-setbg="../../img/footer-signup.jpg">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
            <div class="copyright-text">
                <ul>
                    <li><a href="#">Term&Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>&copy;<p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p></p>
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--From template-->
        <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <!--END-->
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <!--From template-->
        <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <!--END-->
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
