<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="../../img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h2>Get training today</h2>
                    <p>
                        We work with some of the best trainers in Bulgaria.<br />
                        Find the best personal trainer for you.
                    </p>
                    <a class="primary-btn banner-btn" asp-controller="Trainers" asp-action="Index">Contact Now</a>
                </div>
            </div>
            <div class="col-lg-5">
                <img class="trainer" src="../../img/banner-person.png" alt="Trainer">
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->