@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

    <section class="error-section">
        <h1 class="text-danger ml-5">Error.</h1>
        <h2 class="text-danger ml-5">An error occurred while processing your request.</h2>

        @if (this.Model.ShowRequestId)
        {
            <p class="ml-5">
                <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
            </p>
        }

        <h3 class="ml-5">We notifed administrator!</h3>
        <br />
        <a class="custom custom-button ml-5" asp-controller="Home" asp-action="Index">Take Me Home</a>
    </section>
