@model FitDontQuit.Web.ViewModels.Home.IndexViewModel
@using FitDontQuit.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span>FITNESS ELEMENTS</span>
                    <h1>WELCOME TO FIT DONT QOUT</h1>
                    <p>Get best offer and start training now!</p>
                    <a asp-controller="Memberships" asp-action="Index" class="primary-btn">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="img/about-pic.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                        <img src="img/play.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>Story About Us</h2>
                    <p class="first-para">
                        Our vision is to change the look of the sport in Bulgaria. 
                        For us, this is not an activity inherent only for the most devoted, 
                        but a part of modern life, for which everyone can find will and strength. 
                        The time spent in Fit Don't Quit is a time spent in caring for yourself.
                    </p>
                    <p class="second-para">
                        The Lifestyle Club is both a stress-relieving home and a home where everyone can find support 
                        for their own purposes and dreams. Perhaps they are slimming or toughening, proper eating and meditation, 
                        and perhaps just relaxing in the warm pool or talking to a friend in the pause of an intense group workout.
                    </p>
                    <a asp-controller="AboutUs" asp-action="Index" class="primary-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Services Section Begin -->
<section class="services-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-pic">
                    <img src="img/services/service-pic.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-items">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-item bg-gray">
                                <img src="img/services/service-icon-1.png" alt="">
                                <h4>Strategies</h4>
                                <p>
                                    Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                    montes.
                                </p>
                            </div>
                            <div class="services-item bg-gray pd-b">
                                <img src="img/services/service-icon-3.png" alt="">
                                <h4>Workout</h4>
                                <p>
                                    Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                    montes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-item">
                                <img src="img/services/service-icon-2.png" alt="">
                                <h4>Yoga</h4>
                                <p>
                                    Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                    montes.
                                </p>
                            </div>
                            <div class="services-item pd-b">
                                <img src="img/services/service-icon-4.png" alt="">
                                <h4>Weight Loss</h4>
                                <p>
                                    Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                    montes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<partial name="AllClassesPartial" for="@Model.Classes" />
<partial name="TopThreeTrainersPartial" for="@Model.Trainers" />
<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>success stories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="testimonial-slider owl-carousel">
                    <div class="testimonial-item">
                        <p>
                            Meet Jake, a 24 year old Rebel from the UK who lost over 70 pounds (32 kg) in 9 months!
                            Jake, like many new Rebels, once lived an entirely sedentary lifestyle.
                            But then Jake found FitDontQuit Fitness, began strength training, and rediscovered his self confidence.
                        </p>
                        <div class="ti-pic">
                            <img src="https://res.cloudinary.com/fit-dont-quit/image/upload/v1587412834/images_blcj6o.jpg" alt="">
                            <div class="quote">
                                <img src="img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Patrick Cortez</h4>
                            <span>Leader</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            When she was 46 years old, Wendy Mills set a goal: to be her absolute fittest by her 50th birthday.
                            "I knew I would have to lose about 100 pounds!" she says. "So I started setting smaller goals,
                            like giving up fast food or going for a walk." Taking it slowly, she lost the first 55 pounds.
                        </p>
                        <div class="ti-pic">
                            <img src="https://res.cloudinary.com/fit-dont-quit/image/upload/v1587412834/success-stories-kt_qzvk7u.jpg" alt="">
                            <div class="quote">
                                <img src="img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Patrick Cortez</h4>
                            <span>Leader</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            Paula Hannah used to come up with any and every excuse to get out of a workout. 
                            "The most ridiculous one was that I didn't want to mess up my hair!" she says. 
                            But at 227 pounds and with severe asthma, Paula knew the excuses had to stop.
                        </p>
                        <div class="ti-pic">
                            <img src="https://res.cloudinary.com/fit-dont-quit/image/upload/v1587412834/0f19438ec62542b8358fad68b183610b_l53vsu.jpg" alt="">
                            <div class="quote">
                                <img src="img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Patrick Cortez</h4>
                            <span>Leader</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<partial name="BannerSectionPartial" />
<partial name="MembershipPartial" for="@Model.Memberships"/>
<partial name="LatestThreeArticlesPartial" for="@Model.Articles" />

<!-- Footer Banner Section Begin -->
<section class="footer-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="img/footer-banner/footer-banner-1.jpg">
                    <span>New member</span>
                    <h2>7 days for free</h2>
                    <p>Complete the training sessions with us, surely you will be happy</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="img/footer-banner/footer-banner-2.jpg">
                    <span>contact us</span>
                    <h2>09 746 204</h2>
                    <p>If you trust us on your journey they dark sex does not disappoint you!</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Banner Section End -->
