@{
    this.ViewData["Title"] = "404 Not Found";
}

@*<section class="thankYou-section">
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You @this.UserManager.GetUserName(this.User) for your purchase!</h1>
            <p class="lead">Have a great time with us. Waiting for you in the gym.</p>
            <hr>
            <p>
                Having trouble? <a asp-controller="Contacts" asp-action="Index">Contact us</a>
            </p>
            <p class="lead">
                <a class="custom custom-button" asp-controller="Home" asp-action="Index">Continue to homepage</a>
            </p>
        </div>
    </section>*@

<section class="error-section">
    <div class="jumbotron text-center">
        <h1 class="display-3">Oops!</h1>
        <div class="error-details">
            404 Not Found
        </div>
        <p class="lead">  Sorry, an error has occured, Requested page not found!</p>
        <hr />
        <p class="lead">
            <a class="custom custom-button" asp-controller="Home" asp-action="Index">Take Me Home</a>
        </p>
    </div>
</section>
