@model FitDontQuit.Web.ViewModels.GroupTrainings.DeleteGroupTrainingModel
@{
    this.ViewData["Title"] = "Delete class";
}

<section class="section">
    <form asp-action="Delete" method="post">
        <h3>Are you sure you want to delete @Model.Name class?</h3>
        <input type="button" class="btn btn-secondary p-2" value="Back" onclick="history.back()" />
        <input type="submit" class="btn btn-danger p-2" value="Delete" />
    </form>
</section>