@model FitDontQuit.Web.ViewModels.GroupTrainings.DeleteGroupTrainingModel
@{
    this.ViewData["Title"] = "Delete class";
}

<section class="section">
    <form asp-action="Delete" method="post">
        <p>Are you sure you want to delete @Model.Name class?</p>
        <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()" />
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</section>