@model FitDontQuit.Web.ViewModels.GroupTrainings.EditGroupTrainingModel
@{
    this.ViewData["Title"] = "Edit class";
}

<section class="section">
    <h1>Edit</h1>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="container">
            <div class="col-md-12 order-md-1">
                <div class="input-group mb-4">
                    <img src="@Model.ImageUrl" />
                    <input type="file" name="Image" asp-for="Image" />
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <hr />
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>